body {
    background-image: url(./background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(238, 43, 212);
    margin: 80px;
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: rgb(238, 43, 212);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}