body {
    display: flex;
    justify-content: center;
    margin: 150px 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.cell {
    background: red;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.visible {
    visibility: hidden;
}