$sans-serif: 'Noto Sans', 'Montserrat', sans-serif;
$serif: Georgia, 'Crete Round', serif;
$mono: 'Source Code Pro', 'Roboto Mono', mono;

$font-size-base: 1rem;
$font-size-sm: 0.8rem;

$font-size-h1: 2.25rem;
$font-size-h2: 2rem;
$font-size-h3: $font-size-base;

$line-height-base: 1.5;