$color1: rgb(180, 218, 224);
$color2: #ccc;
$color3: rgb(199, 58, 105);
$color4: rgb(25, 156, 218);
$color5: rgb(150, 255, 51);

$background: $color1;
$text-color: $color3;

$border-width: 2px;
$border-style: dotted;
$border-color: $color3;